/********************* View prot ************************/
#viewport{
    background-color: #0D1518;
    height: 100vh;
    overflow: hidden;
}

/***************** Main menu Dropdown ********************/
.dropbtn {
    background-color: #0D1518;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFAE00;
    color: #0D1518;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
/*    border-radius: 0px 10px 0px 10px;*/
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #FFAE00;
    background-color: gray;
/*    border-radius: 0px 10px 0px 10px;*/
}

.dropdown:hover .dropdown-content {
    display: block;
    
}

.dropdown:hover .dropbtn {
    color: #FFAE00;
    background-color: #0D1518;
/*    transition: .3s;*/
}

.main-menu{
    padding-top: 60px;
    position: relative;
}

/************** Viewpor image and text *********************/
.viewport-img{
    
}
.viewport-img img{
   
    position: absolute;
    top: -60px;
/*    left: 10px;*/
}

.viewport-text{
    padding-top: 200px;
}
.viewport-text h5{
    color: white;
    font-size: 28px;
    padding-right: 105px;
    float: right;
    line-height: 40px;
    padding-bottom: 15px;
}
.viewport-text h5 span{
    color: #FFAE00;
}

.viewport-icon{
    
}
.viewport-icon ul li{
    list-style: none;
    margin-left: -52px; 
}

.viewport-icon ul li a{
    color: white;
    display: inline-block;
    text-decoration: none;
    float: left;
    background-color: #0D1518;
    margin-left: 15px;
    border: 1px solid #fff;
    border-radius: 10px 0px 10px 0px;
    
    height: 55px;
    width: 50px;
    text-align: center;
    padding-top: 12px;
}
.viewport-icon ul li a:hover{
    background-color: #FFAE00;
    transition: .3s;
    color: #0D1518;
}
/********************* End View prot ************************/

/*********************** About Section *****************************/

#about .container{
    padding-bottom: 108px;
}
.about-heading{
    padding-top: 105px;
    
}

.about-heading h1{
    color: #FFAE00;
    position: relative;
    padding-bottom: 30px;
}
.about-heading h1::before{
    bottom: 0;
    height: 2px;
    left: 46%;
    position: absolute;
    width: 80px;
    content: "";
    background: #FFAE00;
/*    margin-left: -40px;*/
}

.brif-about, .skills{
   padding-top: 46px;
}
.brif-about h3, .skills h3{
    color: #FFAE00;
    position: relative;
    padding-bottom: 15px;
}
.brif-about h3::after, .skills h3::after{
    bottom: 0;
    height: 2px;
    left: 0;
    position: absolute;
    width: 30px;
    content: "";
    background: #FFAE00;
}

.brif-about p{
    font-size: 15px;
    padding-top: 40px;
}
.brif-about p:last-child{
    padding-top: 0px;
}

.about-progress-bar h5{
    line-height: 40px;
}
.first-bar-text{
    padding-top: 30px;
}

.download-cv{
    padding-top: 40px;
}
.download-cv a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #FFAE00;
}
.download-cv a i{
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    border-right: 1px solid #fff;
}

/**************** Service area *********************/
#service-area{
    background-color: #1D1C1C;
    padding-top: 87px;
    padding-bottom: 85px;
}
#service-area i,h4{
    color: #fff;
    text-align: center;
}
#service-area i{
    color: white;
    display: block;
    background-color: #FFAE00;
    margin-left: 15px;
    border: 0px solid #fff;
    border-radius: 10px 0px 10px 0px;
    height: 80px;
    width: 75px;
    text-align: center;
    padding-top: 25px;
    margin-left: 40%;
}

#service-area h4{
    padding-top: 35px;
}
#service-area p{
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

/************* My Work Area ********************/
#work-area{
    padding-top: 100px;
    padding-bottom: 125px;
}

.work-heading h2{
    display: block;
    text-align: center;
    color: #FFAE00;
    position: relative;
}
.work-heading h2::after{
    bottom: -30px;
    height: 2px;
    left: 44%;
    position: absolute;
    width: 180px;
    content: "";
    background: #FFAE00;
/*    margin-left: -90px;*/
}
.work-box-top{
    padding-top: 80px;
}
.work-box{
    text-align: center;
    height: 100%;
    padding-top: 70px;
    position: relative;
}

.work-box:hover{
    background-color: #FFAE00;
    color: #fff;
}
.work-box h4{
    color:#333;
    
}

.work-box:hover h4{
    color:#fff;
}

.work-box i{
    color: #FFAE00;
    display: block;
    background-color: #fff;
    margin-left: 15px;
    border: 1px solid #DADADA;
    border-radius: 10px 0px 10px 0px;
    height: 80px;
    width: 80px;
    text-align: center;
    padding-top: 25px;
    margin-left: 40%;
    
}
.work-box h4{
    padding-top: 55px;
}

.work-box p{
    padding: 30px 25px;
    font-size: 14px;
}
.box-1, .box-2{
    border-bottom: 1px solid #F4F4F4;
}
.box-1, .box-3{
    border-right: 1px solid #F4F4F4;
}

.work-circle{
    border:2px solid #EEEEEE;
    background-color: #FFFFFF;
    height: 80px;
    /* border-radius 50% will make it fully rounded. */
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
    width: 80px;
    margin-top: -420px;
    position: absolute;
}

.work-circle-2{
    position: absolute;
    border:2px solid #FFAE00;
    background-color: #FFAE00;
    height: 20px;
    /* border-radius 50% will make it fully rounded. */
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
    width: 20px;
    margin-top: -390px;
}

/*************** Plan Section **********************/
#plan{
    background-color: #1C1C1C;
}
.plan-box{
    float: left;
    text-align: center;
    padding: 107px 67px;
    display: inline-block;
}

.plan-box i{
    color: #fff;
    padding: 25px;
    background-color: #FFAE00;
    border-radius: 15px 0px 15px 0px;
}

.plan-box h4{
    color: #fff;
    padding-top: 35px;
}

/********************** Portfolio Section ******************************/

#portfolio{
    padding-top: 107px;
    padding-bottom: 65px;
}
.portfolio-heading{
    
}
.portfolio-heading h2{
    color: #FFAE00;
    position: relative;
}
.portfolio-heading h2::after{
    bottom: -53px;
    height: 2px;
    left: 40%;
    position: absolute;
    width: 110px;
    content: "";
    background: #FFAE00;
}
.portfolio-heading h6{
    line-height: 20px;
}
.portfolio-heading ul li{
    padding-top: 35px;
    float: left;
    list-style: none;
    display: inline-block;
    padding-bottom: 55px;
}
.portfolio-heading ul li a{
    padding: 6px 15px;
    text-decoration: none;
    color: #000;
}

.portfolio-heading ul li a:hover{
    color: #fff;
    background-color: #FFAE00;
    border-radius: 10px 0px 10px 0px;
}


.portfolio-project, .hover-background{
    
}
.portfolio-project{
    position: relative;
}
.portfolio-project img{
    width: 100%;
}
.hover-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hover-background-border{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 90%;
    height: 90%;
    padding: -20px;

}

.hover-background:hover{
    background-color: #734E00;
    opacity: .5;
    border: 2px solid #000;

}
.hover-background-border:hover{
    background-color: #734E00;
    opacity: .5;
    border: 2px solid #FFAE00;
    
    
}

.bottom-portfolio-box{
    padding-top: 30px;
    padding-bottom: 65px;
}

.portfolio-btn{
    
}
.portfolio-btn p{
    padding-bottom: 10px;
}
.portfolio-btn button{
    height: 40px;
    width: 135px;
    border: 0px;
    margin: 0px 15px;
    background-color: #FFAE00;
    border-radius: 15px 0px 15px 0px;
}

.portfolio-btn button a, i{
    text-decoration: none;
    color: #fff;
}

/**************** Happy Clients Section ****************************/

#happy-clients{
    padding-top: 145px;
    padding-bottom: 105px;
    background-color: #46381B;
}
.clients-box{
    text-align: center;
    color: #fff;
}
.clients-box h5{
    padding-top: 30px;
    line-height: 30px;
}
.clients-box i{
    height: 65px;
    width: 65px;
    background-color: #FFAE00;
    border-radius: 15px 0px 15px 0px;
    text-align: center;
    padding-top: 15px;
}

/********************** Client Feedback ***********************************/

#client-feedback{
    padding: 105px 0px;
}

.client-heading{
    position: relative;
}
.client-heading h1{
    text-align: center;
    text-transform: uppercase;
    color: #FFAE00;
}
.client-heading h1::after{
    bottom: -20px;
    height: 2px;
    left: 43%;
    position: absolute;
    width: 165px;
    content: "";
    background: #FFAE00;
}



/***************************** Contact Form ***************************/
#contact-form{
    background-color: #4D4229;
    padding-top: 95px;
    padding-bottom: 130px;
}

.contact-heading h1{
    position: relative;
    text-align: center;
    color: #FFAE00;
    text-transform: uppercase;
}
.contact-heading h1::after{
    position: absolute;
    bottom: -20px;
    height: 2px;
    left: 45%;
    width: 110px;
    content: "";
    background-color: #FFAE00;
    
}

.contact-box{
    padding-top: 5px;
}


.input-field{
    border: 1px solid #fff;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    background: none;
    color: #fff;
    padding-left: 70px;
}

.input-user{
    position: relative;
}

.input-icon {
    position: absolute;
    top: 5px;
    left: 15px;
}

.input-icon i{
    height: 60px;
    width: 60px;
    text-align: center;
    padding-top: 14px;
    background-color: #FFAE00;
}

.left-input{
    padding-top: 60px;
}
.text-area{
    padding-top: 65px;
}

.text-area textarea{
    height: 140px;
    width: 100%;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding-left: 15px;
    padding-top: 15px;
}


.text-area button{
    padding: 0px;
    border: 0px;
}
.text-area a button {
    text-decoration: none;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    height: 60px;
    width: 100%;
    margin-top: 14px;
    background-color: #FFAE00;
    font-size: 25px;
    font-weight: bold;
}
.text-area a button:hover{
    color: #4D4229;
}
/********************** Footer Section **********************************/
#footer{
    background-color: #141313;
    padding-top: 40px;
    padding-bottom: 20px;
}
#footer p{
    text-align: center;
    color: #fff;
}